version: "3.8"

services:
  web:
    image: makeplane/plane-frontend:${APP_RELEASE:-v1.1.0}
    restart: always
    depends_on:
      - api
      - worker
    env_file:
      - .env
    networks:
      - dokploy-network

  space:
    image: makeplane/plane-space:${APP_RELEASE:-v1.1.0}
    restart: always
    depends_on:
      - api
      - worker
      - web
    env_file:
      - .env
    networks:
      - dokploy-network

  admin:
    image: makeplane/plane-admin:${APP_RELEASE:-v1.1.0}
    restart: always
    depends_on:
      - api
      - web
    env_file:
      - .env
    networks:
      - dokploy-network

  live:
    image: makeplane/plane-live:${APP_RELEASE:-v1.1.0}
    restart: always
    depends_on:
      - api
      - web
    env_file:
      - .env
    networks:
      - dokploy-network

  api:
    image: makeplane/plane-backend:${APP_RELEASE:-v1.1.0}
    restart: always
    command: ./bin/docker-entrypoint-api.sh
    volumes:
      - logs_api:/code/plane/logs
    depends_on:
      - plane-redis
      - plane-mq
    env_file:
      - .env
    networks:
      - dokploy-network

  worker:
    image: makeplane/plane-backend:${APP_RELEASE:-v1.1.0}
    restart: always
    command: ./bin/docker-entrypoint-worker.sh
    volumes:
      - logs_worker:/code/plane/logs
    depends_on:
      - api
      - plane-redis
      - plane-mq
    env_file:
      - .env
    networks:
      - dokploy-network

  beat-worker:
    image: makeplane/plane-backend:${APP_RELEASE:-v1.1.0}
    restart: always
    command: ./bin/docker-entrypoint-beat.sh
    volumes:
      - logs_beat-worker:/code/plane/logs
    depends_on:
      - api
      - plane-redis
      - plane-mq
    env_file:
      - .env
    networks:
      - dokploy-network

  migrator:
    image: makeplane/plane-backend:${APP_RELEASE:-v1.1.0}
    restart: no
    command: ./bin/docker-entrypoint-migrator.sh
    volumes:
      - logs_migrator:/code/plane/logs
    depends_on:
      - plane-redis
    env_file:
      - .env
    networks:
      - dokploy-network

  plane-redis:
    image: valkey/valkey:7.2.11-alpine
    restart: always
    volumes:
      - redisdata:/data
    env_file:
      - .env
    networks:
      - dokploy-network

  plane-mq:
    image: rabbitmq:3.13.6-management-alpine
    restart: always
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    env_file:
      - .env
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_DEFAULT_VHOST}
    networks:
      - dokploy-network

  plane-minio:
    image: minio/minio:latest
    restart: always
    command: server /export --console-address ":9090"
    volumes:
      - uploads:/export
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_ACCESS_KEY}
    networks:
      - dokploy-network

  proxy:
    image: makeplane/plane-proxy:${APP_RELEASE:-v1.1.0}
    restart: always
    depends_on:
      - web
      - api
      - space
      - admin
    env_file:
      - .env
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true

volumes:
  redisdata:
  uploads:
  logs_api:
  logs_worker:
  logs_beat-worker:
  logs_migrator:
  rabbitmq_data:
